smt.egg-info/
*.pyc
terminal.py
twitter/:twitter:
twitter/:hoge:
twitter/:phrasetwitter:
twitter/test.txt
jec_basic_sentence/:jec_basic:
jec_basic_sentence/:jec_basic:-journal
jec_basic_sentence/:test:
jec_basic_sentence/terminal.py
jec_basic_sentence/JEC_basic_sentence_v1-2.xls
